<div ng-controller="nuComponents.DataTypes.Shared.XmlDataSource.XmlDataSourceConfigController">   
    
    <!-- ISSUE: how best to remove inline 'fake umbraco' styling - create angular directives for label / field ? -->

    <div class="control-group umb-control-group">
        <label class="control-label" style="padding-top:8px !important; padding:0;" for="">

            Xml Schema
            <small>xml schema to query</small>

        </label>

        <div class="controls controls-row">

            <select ng-model="model.value.xmlSchema" 
                    ng-init="model.value.xmlSchema = model.value.xmlSchema || 'content'">
                <option value="content">Content</option>
                <option value="media">Media</option>
                <option value="member">Members</option>
                <option value="file" disabled="disabled">TODO: File</option>
                <option value="url" disabled="disabled">TODO: Url</option>
            </select>

        </div>
    </div>

    <div class="control-group umb-control-group">
        <label class="control-label" style="padding-top:8px !important; padding:0;" for="">
            Options XPath
            <small>all matched elements are used as options</small>
        </label>

        <div class="controls controls-row">

            <input type="text" 
                   ng-model="model.value.optionsXPath" 
                   ng-init="model.value.optionsXPath = model.value.optionsXPath || '//*[@isDoc]'" />

        </div>
    </div>

    <div class="control-group umb-control-group">
        <label class="control-label" style="padding-top:8px !important; padding:0;" for="">
            Key Attribute
            <small>attribute on each matched xml element to use as the key (this must be unique)</small>
        </label>

        <div class="controls controls-row">

            <input type="text" 
                   ng-model="model.value.keyAttribute"
                   ng-init="model.value.keyAttribute = model.value.keyAttribute || 'id'" />

        </div>
    </div>


    <div class="control-group umb-control-group" ng-hide="model.value.labelMacro">
        <label class="control-label" style="padding-top:8px !important; padding:0;" for="">
            Label Attribute
            <small>attribute on each matched xml element to use as the label (not used if macro selected)</small>
        </label>

        <div class="controls controls-row">

            <input type="text" 
                   ng-model="model.value.labelAttribute" 
                   ng-init="model.value.labelAttribute = model.value.labelAttribute || 'nodeName'"/>

        </div>
    </div>

</div>
