<div ng-controller="nuComponents.DataTypes.Shared.XmlDataSource.XmlDataSourceConfigController" class="nuComponents-config">

    <div>
        <label for="">

            Xml Data
            <small>xml data to query</small>

        </label>

        <div>

            <select ng-model="model.value.xmlData"
                    ng-init="model.value.xmlData = model.value.xmlData || 'content'">
                <option value="content">Content</option>
                <option value="media">Media</option>
                <option value="members">Members</option>
                <option value="url">Url</option>
                <option value="file" disabled="disabled">TODO: File</option>
            </select>

        </div>
    </div>

    <!-- show / hide -->
    <div ng-hide="model.value.xmlData != 'url'">
        <label for="">

            Url
            <small>use the prefix ~/ to indicate a relative url</small>

        </label>

        <div>

            <input type="text" ng-model="model.value.url" />

        </div>
    </div>


    <div ng-hide="model.value.xmlData != 'file'">
        <label for="">

            File
            <small>

            </small>

        </label>

        <div class="controls controls-row">

            <input type="text" ng-model="model.value.file" />

        </div>
    </div>


    <div>
        <label for="">
            Options XPath
            <small>all matched nodes are used as options</small>
        </label>

        <div>

            <input type="text"
                   ng-model="model.value.optionsXPath"
                   ng-init="model.value.optionsXPath = model.value.optionsXPath || '//*[@isDoc]'" />

        </div>
    </div>

    <div>
        <label for="">
            Key XPath
            <small>xpath to select single item (from each option) to use as the key (this must be unique)</small>
        </label>

        <div>

            <input type="text"
                   ng-model="model.value.keyXPath"
                   ng-init="model.value.keyXPath = model.value.keyXPath || '@id'" />

        </div>
    </div>


    <div ng-hide="model.value.labelMacro">
        <label for="">
            Label XPath
            <small>xpath to select single item (from each option) to use as the key (not used if label macro selected)</small>
        </label>

        <div>

            <input type="text"
                   ng-model="model.value.labelXPath"
                   ng-init="model.value.labelXPath = model.value.labelXPath || '@nodeName'" />

        </div>
    </div>

</div>
