<div ng-controller="nuComponents.DataTypes.Shared.XmlDataSource.XmlDataSourceConfigController">   
    
    <!-- ISSUE: how best to remove inline 'fake umbraco' styling - create angular directives for label / field ? -->

    <div class="control-group umb-control-group">
        <label class="control-label" style="padding-top:8px !important; padding:0;" for="">

            Xml Schema
            <small>xml schema to query</small>

        </label>

        <div class="controls controls-row">

            <select ng-model="model.value.xmlSchema" 
                    ng-init="model.value.xmlSchema = model.value.xmlSchema || 'content'">
                <option value="content">Content</option>
                <option value="media">Media</option>
                <option value="member">Members</option>
                <option value="url">Url</option>
                <option value="file" disabled="disabled">TODO: File</option>
            </select>

        </div>
    </div>

    <!-- show / hide -->
    <div class="control-group umb-control-group" ng-hide="model.value.xmlSchema != 'url'">
        <label class="control-label" style="padding-top:8px !important; padding:0;" for="">

            Url
            <small></small>

        </label>

        <div class="controls controls-row">

            <input type="text" ng-model="model.value.url" />

        </div>
    </div>


    <div class="control-group umb-control-group">
        <label class="control-label" style="padding-top:8px !important; padding:0;" for="">
            Options XPath
            <small>all matched nodes are used as options</small>
        </label>

        <div class="controls controls-row">

            <input type="text" 
                   ng-model="model.value.optionsXPath" 
                   ng-init="model.value.optionsXPath = model.value.optionsXPath || '//*[@isDoc]'" />

        </div>
    </div>

    <div class="control-group umb-control-group">
        <label class="control-label" style="padding-top:8px !important; padding:0;" for="">
            Key XPath
            <small>xpath to select single item (from each option) to use as the key (this must be unique)</small>
        </label>

        <div class="controls controls-row">

            <input type="text" 
                   ng-model="model.value.keyXPath"
                   ng-init="model.value.keyXPath = model.value.keyXPath || '@id'" />

        </div>
    </div>


    <div class="control-group umb-control-group" ng-hide="model.value.labelMacro">
        <label class="control-label" style="padding-top:8px !important; padding:0;" for="">
            Label XPath
            <small>xpath to select single item (from each option) to use as the key (not used if macro selected)</small>
        </label>

        <div class="controls controls-row">

            <input type="text" 
                   ng-model="model.value.labelXPath" 
                   ng-init="model.value.labelXPath = model.value.labelXPath || '@nodeName'"/>

        </div>
    </div>

</div>
