<div ng-controller="nuComponents.DataTypes.Shared.SqlDataSource.SqlDataSourceConfigController">

    <div class="control-group umb-control-group">
        <label class="control-label" style="padding-top:8px !important; padding:0;" for="">

            SQL Expression
            <small></small>

        </label>

        <div class="controls controls-row">

            <textarea ng-model="model.value.sqlExpression"></textarea>

        </div>
    </div>

    <div class="control-group umb-control-group">
        <label class="control-label" style="padding-top:8px !important; padding:0;" for="">
            Connection String
            <small>add items to the web.config &lt;connectionStrings /&gt; section to list here</small>
        </label>

        <div class="controls controls-row">

            <select ng-model="model.value.connectionString"
                    ng-options="o as o for o in connectionStrings"
                    ng-required="true"></select>


        </div>
    </div>

</div>
