/*
    used by property editor configurations with multiple fields to emulate umbraco styling 
    
    <div class="nuComponents-config">
        <div> 
            <label>
                ** title **
                <small>** description **</small>
            </label>
            <div>
                ** control **
            </div>
        <div>
        ...
    </div>
    
*/

.nuComponents-config div
{
    padding-bottom: 20px;
    margin-bottom: 15px!important;
    border-bottom: 1px solid #f8f8f8;
}

.nuComponents-config div.disabled
{
    background-color: #f8f8f8;
}

.nuComponents-config div:last-child
{
    /*padding-bottom:0;*/
    margin-bottom:0;
    border-bottom:none;
}


.nuComponents-config label 
{
    float:left;
    width:160px;
    padding-top:8px !important;
    padding:0;
    text-align:left;
    display:inline-block
}

.nuComponents-config div div {
    padding-top: 5px;
    margin-left: 240px!important;
}
