<div ng-controller="nuPickers.Shared.DotNetDataSource.DotNetDataSourceConfigController" class="nuPickers-config">

    <div>
        <label class="control-label" for="">
            Assembly
            <small>DLL or App_Code folder to reflect</small>
        </label>

        <div class="controls controls-row">
            <select ng-model="model.value.assemblyName"
                    ng-options="o as o for o in assemblyNames"
                    ng-required="true"></select>
        </div>

    </div>

    <div>
        <label class="control-label" for="">
            Class
            <small>Must implement IDotNetDataSource</small>
        </label>

        <div class="controls controls-row">
            <select ng-model="model.value.className"
                    ng-options="o as o for o in classNames"
                    ng-required="true"></select>
        </div>
    </div>

    <!-- repeat a text field for each property -->
    <div ng-repeat="property in properties">
        <label class="control-label" for="">
            {{ property.title }}
            <small>{{ property.description }}</small>
        </label>
        <div class="controls controls-row">
            <input type="text" ng-model="property.value" />
        </div>
    </div>

</div>