
<div ng-controller="nuComponents.DataTypes.Shared.TypeaheadListPicker.TypeaheadListPickerEditorController" class="list-picker">

    <div class="text-input">
        <input type="text"
               autocomplete="off"
               ng-model="typeahead"
               nu-cursor-up="cursorUp()"
               nu-cursor-down="cursorDown()"
               nu-blur="clear()" />
    </div>

    <ul class="selectable"
        ng-model="selectableOptions">
        <li ng-repeat="option in selectableOptions"
            
            ng-class="{lit:lit}">
            <div class="option-label" ng-bind-html-unsafe="option.label">
            </div>

            <a href=""
               class="button"
               ng-mouseenter="lit = true"
               ng-mouseleave="lit = false">
            </a>

        </li>
    </ul>


</div>


