<div ng-controller="nuComponents.DataTypes.Shared.ListPicker.ListPickerEditorController" class="list-picker">

    <ng-form name="listPickerForm">
        <input type="hidden" name="validation" ng-model="model.value" />
        <span val-msg-for="validation" val-toggle-msg="validationMessage"></span>
    </ng-form>

    <div ng-controller="nuComponents.DataTypes.Shared.TypeaheadListPicker.TypeaheadListPickerEditorController">

        <!-- typeahead -->
        <div class="text-input-bar">
            <input type="text"
                   placeholder="typeahead"
                   autocomplete="off"
                   ng-model="typeahead"
                   nu-cursor-up="cursorUp()"
                   nu-cursor-down="cursorDown()"
                   nu-enter-key="enterKey()" />
                   <!--nu-blur="clear()" />-->
        </div>

        <ng-include src="'App_Plugins/nuComponents/DataTypes/Shared/ListPicker/ListPickerPartial.html'" /> 

    </div>
</div>