<div ng-controller="nuComponents.DataTypes.XPathTemplatableList.EditorController" class="xpath-templatable-list">

    <!--<link rel="stylesheet" type="text/css" ng-if="model.config.CssFile" ng-href="{{ model.config.CssFile }}" /> TODO: move this to controller and use assetsService -->

    <!-- available items -->
    <ul class="selectable" ng-model="selectableOptions">
        <li ng-repeat="option in selectableOptions"
            ng-show="isSelectable(option) || model.config.showUnselectable"
            ng-class="{active:isSelectable(option)}">
            <a href="" ng-click="selectOption(option)">

                {{ option.markup }}

            </a>
        </li>
    </ul>

    <!-- selected items -->
    <ul class="selected" ui-sortable="{axis: 'y'}" ng-model="selectedOptions">
        <li ng-repeat="option in selectedOptions track by $index">
            
            {{ option.markup }}

            <a href=""
               class="deselect"
               title="remove"
               ng-show="canDeselect()"
               ng-click="deselectOption($index)"></a>
        </li>
    </ul>
    
</div>