/*
    Umbraco colours: 

    light -> dark
    #fdfdfd, #f0f0f0, #dddddd, #c5c5c5, #9e9e9e
*/

.xpath-templatable-list {        
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.xpath-templatable-list .selectable-filter input,
.xpath-templatable-list ul {
    list-style-type: none;
    width: 48%;
    margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
    padding:1px; /* make space for the fixed height border */
}

.xpath-templatable-list .selectable-filter input {
    /* colours same as the fixed-height (scrolling) list */
    border-color: #f0f0f0; 
    background-color: #fdfdfd;
    height:2em;
    padding-left:4px;
}


.xpath-templatable-list li {
    overflow: hidden;
    background-color: white;
    margin-bottom: 3px;
    font-family: Arial,Lucida Grande;
    position: relative;
    border: 1px solid #ccc;
    cursor:default;
}

.xpath-templatable-list .lit { /* li */
    border:1px solid #9e9e9e;
}

.xpath-templatable-list .disabled { /* li and .button */
    opacity: 0.7;
    filter: alpha(opacity=70); /* msie */
}

.xpath-templatable-list .used { /* li */
    background-color:#f6f6fa;
}

.xpath-templatable-list .markup {
    width:90%;
    padding:4px;
}

.xpath-templatable-list .button {
    width: 10%;
    height: 100%;
    position: absolute;
    top: 0;
    outline:none;
    background-position:center;
    background-repeat:no-repeat;
    min-width:15px; /* width of icon image */
}

.xpath-templatable-list .button.disabled {
    cursor:default; /* disable the hand */
}

.xpath-templatable-list .button:hover,
.xpath-templatable-list .sort:hover
{
    background-color: #ddd;
}

.xpath-templatable-list .button.disabled:hover {
    background-color:transparent;
}

.xpath-templatable-list .placeholders li {
    border:1px dashed #ccc;
    padding:4px;
}

/* 
    <ul class="selectable">
        <li class="(lit) (disabled) (used)">

            <div class="markup">
                {{ custom markup }}
            </div>

            <a class="button (disabled)"></a>

        </li>
    </ul>    
*/

.xpath-templatable-list .selectable {
    float: left;
}

.xpath-templatable-list .selectable.fixed-height {
    overflow-y: scroll;
    border-color: #f0f0f0; /* show the border when using scrolling */
    background-color: #fdfdfd;
    direction:rtl; /* force scrollbars left */
}

.xpath-templatable-list .selectable .markup {
    /* reset the direction:rtl */
    float:left; 
    text-align:left;
}

.xpath-templatable-list .selectable .button {
    right: 0;
    border-left: 1px solid #ccc;
    background-image: url('/Umbraco/App_Plugins/nuComponents/DataTypes/XPathTemplatableList/ButtonAdd.png');   
}

/*
    <ul class="selected">
        <li class="(lit)">

            <a class="button"></a>

            <div class="markup (sort)">
                {{ custom markup }}
            </div>

        </li>
    </ul>        

    <ul class="placeholders"
        <li/>
        <li class="indicator" />
    </ul>
*/
.xpath-templatable-list .selected,
.xpath-templatable-list .placeholders {
    clear: right;
    float: right;
    /* padding-left: TODO: calculate from scrollbar width (want to ensure markup area is same with both sides) */
}

.xpath-templatable-list .selected .markup {
    margin-left:10%; /* make space for the button */
}

.xpath-templatable-list .selected .sort {
    cursor: move;
}

.xpath-templatable-list .selected .button {
    left: 0;
    border-right: 1px solid #ccc;
    background-image: url('/Umbraco/App_Plugins/nuComponents/DataTypes/XPathTemplatableList/ButtonRemove.png');
}

.xpath-templatable-list .placeholders li {
    color:#ccc;
    text-align:center;
    border-style:dashed;
}

.xpath-templatable-list .placeholders .required { 
}

.xpath-templatable-list .placeholders .select { 
}

.xpath-templatable-list .placeholders .limit-indicator {
    color:#343434;
    border-color:transparent;
}
