<div ng-controller="nuComponents.DataTypes.XPathTemplatableList.EditorController" class="xpath-templatable-list">

    <!--<link rel="stylesheet" type="text/css" ng-if="model.config.CssFile" ng-href="{{ model.config.CssFile }}" /> TODO: move this to controller and use assetsService -->

    <!-- available items -->
    <ul class="selectable" ng-model="selectableOptions">
        <li ng-repeat="option in selectableOptions"
            ng-show="isSelectable(option) || model.config.showUnselectable"
            ng-class="{active:isSelectable(option)}">

            <div class="markup" ng-bind-html-unsafe="option.markup">
            </div>

            <a href=""
               class="button"
               title="add"
               ng-show="canSelect(option)"
               ng-click="selectOption(option)">
                <!--<span class="overlay" />-->
            </a>

        </li>
    </ul>

    <!-- selected items -->
    <ul class="selected" ui-sortable="{axis: 'y'}" ng-model="selectedOptions">
        <li ng-repeat="option in selectedOptions track by $index">     
            
                <a href=""
                   class="button"
                   title="remove"
                   ng-show="canDeselect()"
                   ng-click="deselectOption($index)">
                    <!--<span class="overlay/>"-->
                </a>

                <div class="markup sort"
                     title="sort"                     
                     ng-bind-html-unsafe="option.markup">
                </div>

        </li>
    </ul>
    
    <hr style="clear:both;"/>
    <!--<div>model.config {{ model.config }}</div>-->

</div>