<div ng-controller="nuPickers.Shared.ListPicker.ListPickerEditorController" class="list-picker">

    <ng-form name="listPickerForm">
        <input type="hidden" name="validation" ng-model="model.value" />
        <span val-msg-for="validation" val-toggle-msg="validationMessage"></span>
    </ng-form>

    <div ng-controller="nuPickers.Shared.PagedListPicker.PagedListPickerEditorController" class="paged-list-picker">


        <div class="selectable-and-pager">
            <ng-include src="'/App_Plugins/nuPickers/Shared/ListPicker/ListPickerSelectablePartial.html'" ></ng-include>

            <ul class="paging-buttons">
                <li ng-repeat="page in pages" ng-class="{active:page == currentPage}">
                    <a prevent-default href="#" ng-click="changePage(page)">{{page}}</a>
                </li>
            </ul>
        </div>

        <ng-include src="'/App_Plugins/nuPickers/Shared/ListPicker/ListPickerSelectedPartial.html'" ></ng-include>

    </div>
</div>