<div ng-controller="nuPickers.Shared.ListPicker.ListPickerEditorController" class="list-picker">

    <ng-form name="listPickerForm">
        <input type="hidden" name="validation" ng-model="model.value" />
        <span val-msg-for="validation" val-toggle-msg="validationMessage"></span>
    </ng-form>

    <div ng-controller="nuPickers.Shared.PagedListPicker.PagedListPickerEditorController">


        <ng-include src="'/App_Plugins/nuPickers/Shared/ListPicker/ListPickerSelectablePartial.html'" />

        <!-- paging markup here -->
        count = {{ count }}
        <ul>
            <li ng-repeat="page in pages">
                
            </li>
        </ul>

        <ng-include src="'/App_Plugins/nuPickers/Shared/ListPicker/ListPickerSelectedPartial.html'" />

    </div>
</div>