<div ng-controller="nuPickers.Shared.EnumDataSource.EnumDataSourceConfigController" class="nuPickers-config">

    <div>
        <label class="control-label" for="">
            Assembly
            <small>DLL or App_Code folder to reflect</small>
        </label>

        <div class="controls controls-row">
            <select ng-model="model.value.assemblyName"
                    ng-options="o as o for o in assemblyNames"
                    ng-required="true"></select>
        </div>

    </div>

    <div>
        <label class="control-label" for="">
            Enum
            <small>The enum</small>
        </label>

        <div class="controls controls-row">
            <select ng-model="model.value.enumName"
                    ng-options="o as o for o in enumNames"
                    ng-required="true"></select>
        </div>
    </div>

</div>