
<div ng-controller="nuComponents.DataTypes.Shared.ListPicker.ListPickerEditorController" class="list-picker">

    <!-- filter -->
    <div class="selectable-filter" ng-show="model.config.listPicker.enableFiltering">
        <input type="text"
               placeholder="Type to filter"
               ng-model="model.filterQuery"
               ng-trim="false" />
    </div>

    <!-- selectable -->
    <ul class="selectable"
        ng-model="selectableOptions"
        ng-class="{'fixed-height':model.config.listPicker.listHeight > 0 }"
        ng-style="{'height': (model.config.listPicker.listHeight > 0 ? model.config.listPicker.listHeight + 'px' : '') }">

        <li ng-repeat="option in selectableOptions"
            ng-hide="model.config.listPicker.hideUsed && !isSelectable(option)"
            ng-class="{lit:lit, disabled:!isValidSelection(option), used:isUsed(option)}">
            <div class="option-label" ng-bind-html-unsafe="option.label">
            </div>

            <a href=""
               class="button"
               ng-class="{disabled:!isValidSelection(option)}"
               ng-mouseenter="lit = isValidSelection(option)"
               ng-mouseleave="lit = false"
               ng-click="lit = false; selectOption(option)">
            </a>

        </li>
    </ul>

    <!-- selected -->
    <ul class="selected" ui-sortable="sortableConfiguration" ng-model="selectedOptions">
        <li ng-class="{lit:lit}"
            ng-repeat="option in selectedOptions track by $index">

            <a href=""
               class="button"
               ng-mouseenter="lit = true"
               ng-mouseleave="lit = false"
               ng-click="deselectOption($index)">
            </a>

            <div ng-mouseenter="lit = isSortable()"
                 ng-mouseleave="lit = false"
                 ng-class="{'option-label':true, sort:isSortable()}"
                 ng-bind-html-unsafe="option.label">
            </div>
        </li>
    </ul>

    <ul class="placeholders">
        <li class="required" ng-repeat="placeholder in getRequiredPlaceholderCount() track by $index">
            Required
        </li>

        <li class="select" ng-show="showSelectPlaceholder()">
            Select
        </li>

        <!--<li class="limit-indicator" ng-show="model.config.maxItems > 0">
            {{ selectedOptions.length }} out of {{ model.config.maxItems }}
        </li>-->
    </ul>

    <input type="hidden" ng-model="model.value" ng-required="model.isRequired && getRequiredPlaceholderCount() > 0" />

</div>