@using ClientDependency.Core.Mvc

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    @{
        Html
            .RequiresJs("/App_Plugins/nuPickers/Shared/CheckBoxPicker/CheckBoxPickerEditorController.js.nu")
            .RequiresJs("/App_Plugins/nuPickers/Shared/Editor/EditorResource.js.nu")
            .RequiresJs("/App_Plugins/nuPickers/Shared/DataSource/DataSourceResource.js.nu")
            .RequiresJs("/App_Plugins/nuPickers/Shared/RelationMapping/RelationMappingResource.js.nu");
    }

    @Html.RenderJsHere()

</head>
<body>
    <h1>Hello world</h1>
    <div>

    </div>
</body>
</html>
