<div class="nuPickers-config">

    <div>
        <label class="control-label" for="">
            Enable Filtering
            <small>When true, a textbox is shown allowing the user to filter the choices</small>
        </label>
        <div class="controls">
            <input type="checkbox"
                   ng-model="model.value.enableFiltering" />
        </div>
    </div>

    <div>
        <label class="control-label" for="">
            List Height
            <small>Fix height in px (and use scrollbar) - 0 means fluid</small>
        </label>
        <div class="controls">
            <input type="number"
                   ng-model="model.value.listHeight"
                   ng-init="model.value.listHeight = model.value.listHeight || 0" />
        </div>
    </div>

    <div>
        <label class="control-label" for="">
            Allow Sorting
            <small>When checked, picked items can be sorted</small>
        </label>

        <div class="controls">
            <input type="checkbox"
                   ng-model="model.value.allowSorting" />
        </div>
    </div>

</div>