 <div ng-controller="nuPickers.Shared.SaveFormat.SaveFormatConfigController">

    <label class="radio">
        <input name="saveFormat" type="radio" value="csv" ng-model="model.value" />
        <span>CSV</span>
    </label>

    <label class="radio">
        <input name="saveFormat" type="radio" value="json" ng-model="model.value" />
        <span>JSON</span>
    </label>

    <label class ="radio">
        <input name="saveFormat" type="radio" value="xml" ng-model="model.value" />
        <span>XML</span>
    </label>
     
    <label class="radio">
        <input name="saveFormat" type="radio" value="relationsOnly" ng-model="model.value" ng-disabled="!relationMappingBidirectional" />
        <span>Relations Only</span>
    </label>

</div>