<div ng-controller="nuComponents.DataTypes.Shared.JsonDataSource.JsonDataSourceConfigController" class="nuComponents-config">

    <div>
        <label for="">

            Url
            <small>use the prefix ~/ to indicate a relative url. Data can be an Object or a simple array.</small>
            
        </label>

        <div>

            <input type="text" ng-model="model.value.url" />

        </div>
    </div>

    <div>
        <label for="">
            Options JSONPath
            <small></small>
        </label>

        <div>

            <input type="text"
                   ng-model="model.value.optionsJsonPath"
                   ng-init="model.value.optionsJsonPath = model.value.optionsJsonPath || '$..*'" />

        </div>
    </div>

    <div>
        <label for="">
            Key JSONPath
            <small>jsonpath to select single item (from each option) to use as the key (this must be unique)</small>
        </label>

        <div>

            <input type="text"
                   ng-model="model.value.keyJsonPath"
                   ng-init="model.value.keyJsonPath = model.value.keyJsonPath || ''" />

        </div>
    </div>


    <div ng-hide="model.value.labelMacro">
        <label for="">
            Label JSONPath
            <small>jsonpath to select single item (from each option) to use as the key (not used if label macro selected)</small>
        </label>

        <div>

            <input type="text"
                   ng-model="model.value.labelJsonPath"
                   ng-init="model.value.labelJsonPath = model.value.labelJsonPath || ''" />

        </div>
    </div>

</div>
