<div ng-controller="nuComponents.DataTypes.Shared.JsonDataSource.JsonDataSourceConfigController" class="nuComponents-config">

    <div>
        <label for="">

            Url            
            <small>use the prefix ~/ to indicate a relative url, Json can either be an object or a simple array </small>
        </label>

        <div>

            <input type="text" ng-model="model.value.url" />

        </div>
    </div>

    <div>
        <label for="">
            JSONPath
            <small>all matched objects used to build editor data items</small>
        </label>

        <div>

            <input type="text"
                   ng-model="model.value.jsonPath"
                   ng-init="model.value.jsonPath = model.value.jsonPath || '$..*'" />

        </div>
    </div>

    <div>
        <label for="">
            Key JSONPath
            <small>jsonpath (from each matched object) to select single value for use as the key (this must be unique)</small>
        </label>

        <div>

            <input type="text"
                   ng-model="model.value.keyJsonPath"
                   ng-init="model.value.keyJsonPath = model.value.keyJsonPath || ''" />

        </div>
    </div>


    <div ng-hide="model.value.labelMacro">
        <label for="">
            Label JSONPath
            <small>jsonpath (from each matched object) to select single vlaue for use as the label</small>
        </label>

        <div>

            <input type="text"
                   ng-model="model.value.labelJsonPath"
                   ng-init="model.value.labelJsonPath = model.value.labelJsonPath || ''" />

        </div>
    </div>

</div>
