<div ng-controller="nuPickers.Shared.JsonDataSource.JsonDataSourceConfigController" class="nuPickers-config">

    <div>
        <label for="">

            URL            
            <small>use the prefix ~/ to indicate a URL relative to the site's root. JSON can either be an object or a simple array </small>
        </label>

        <div>

            <input type="text" ng-model="model.value.url" />

        </div>
    </div>

    <div>
        <label for="">
            JSONPath
            <small>all matched objects are used to build editor data items</small>
        </label>

        <div>

            <input type="text"
                   ng-model="model.value.jsonPath"
                   ng-init="model.value.jsonPath = model.value.jsonPath || '$..*'" />

        </div>
    </div>

    <div ng-hide="isLabels">
        <label for="">
            Key JSONPath
            <small>JSONPath (from each matched object) to select a single value for use as the key (this must be unique)</small>
        </label>

        <div>

            <input type="text"
                   ng-model="model.value.keyJsonPath"
                   ng-init="model.value.keyJsonPath = model.value.keyJsonPath || ''" />

        </div>
    </div>


    <div ng-hide="model.value.labelMacro">
        <label for="">
            Label JSONPath
            <small>JSONPath (from each matched object) to select a single vlaue for use as the label</small>
        </label>

        <div>

            <input type="text"
                   ng-model="model.value.labelJsonPath"
                   ng-init="model.value.labelJsonPath = model.value.labelJsonPath || ''" />

        </div>
    </div>

</div>
