/*
    used by property editor configurations with multiple fields to emulate umbraco styling 
    
    <div class="nuPickers-config">
        <div> 
            <label class="control-label">
                ** title **
                <small>** description **</small>
            </label>
            <div class="controls controls-row">
                ** control **
            </div>
        <div>
        ...
    </div>
    
*/

.nuPickers-config div
{
    padding-bottom: 20px;
    margin-bottom: 15px!important;
    border-bottom: 1px solid #f8f8f8;
}

.nuPickers-config div.disabled
{
    background-color: #f8f8f8;
}

.nuPickers-config div:last-child
{
    /*padding-bottom:0;*/
    margin-bottom:0;
    border-bottom:none;
}

.nuPickers-config input.wide {
    width:95%;
}