<div ng-controller ="nuComponents.DataTypes.Shared.RelationMapping.RelationMappingConfigController" class="nuComponents-config">

    <div>
        <label for="">

            Relation Type
            <small>to create a Relation, picked keys must be valid integers and of the correct type</small>

        </label>

        <div>

            <select ng-model="selectedRelationType"
                    ng-options="relationType as relationType.label for relationType in relationTypes"
                    ng-change="relationTypeChanged()">
                <option value=""></option>
            </select>

        </div>
    </div>

    <div>
        <label for="">
            Relation Identifier
            <small>when checked, uses the comment field to identify associated relations - use to limit scope if relation type is shared</small>
        </label>

        <div>
            <input type="checkbox"
                   ng-model="model.value.relationIdentifier"
                   ng-disabled="selectedRelationType == null" />
        </div>
    </div>

</div>
