<div ng-controller="nuPickers.Shared.ListPicker.ListPickerEditorController" class="list-picker" ng-class="{split:isSplit}">

    <ng-form name="listPickerForm">
        <input type="hidden" name="validation" ng-model="model.value" />
        <span val-msg-for="validation" val-toggle-msg="validationMessage"></span>
    </ng-form>

    <div ng-controller="nuPickers.Shared.TypeaheadListPicker.TypeaheadListPickerEditorController">

        <!-- typeahead -->
        <div class="text-input-bar">
            <input type="text"
                   placeholder="typeahead"
                   autocomplete="off"
                   ng-model="typeahead"
                   ng-class="{'no-match': noMatch}"
                   nu-cursor-up="cursorUp()"
                   nu-cursor-down="cursorDown()"
                   nu-enter-key="enterKey()" />
            <!--nu-blur="clear()" />-->
        </div>

        <div class="flex">
            <div class="selectable-container">
                <ng-include src="'/App_Plugins/nuPickers/Shared/ListPicker/ListPickerSelectablePartial.html'" />
            </div>

            <div class="selected-container">
                <ng-include src="'/App_Plugins/nuPickers/Shared/ListPicker/ListPickerSelectedPartial.html'" />
            </div>
        </div>


    </div>
</div>