<div ng-controller="nuPickers.Shared.TypeaheadListPicker.TypeaheadListPickerConfigController" class="nuPickers-config">

    <div>
        <label class="control-label" for="">
            Min Characters
            <small>The minimum number of characters typed, before a request for options is triggered</small>
        </label>

        <div class="controls controls-row">
            <input type="number"
                   ng-model="model.value.minCharacters"
                   ng-init="model.value.minCharacters = model.value.minCharacters || 1" />
        </div>
    </div>

    <div>
        <label class="control-label" for="">
            Limit To
            <small>Limit the number of selectable choices - 0 means no limit</small>
        </label>

        <div class="controls controls-row">
            <input type="number"
                   ng-model="model.value.limitTo"
                   ng-init="model.value.limitTo = model.value.limitTo || 0" />
        </div>
    </div>

</div>