<div ng-controller="nuComponents.DataTypes.Shared.ListPicker.ListPickerEditorController" class="list-picker">

    <ng-form name="listPickerForm">
        <input type="hidden" name="validation" ng-model="model.value" />
        <span val-msg-for="validation" val-toggle-msg="validationMessage"></span>
    </ng-form>

    <div ng-controller="nuComponents.DataTypes.Shared.PrefetchListPicker.PrefetchListPickerEditorController">

        <!-- filter -->
        <div class="text-input-bar" 
             ng-show="model.config.prefetchListPicker.enableFiltering">
            <input type="text"
                   placeholder="filter"
                   ng-model="filter"
                   ng-trim="false"
                   nu-cursor-up="cursorUp()"
                   nu-cursor-down="cursorDown()"
                   nu-enter-key="enterKey()" />
        </div>

        <ng-include src="'App_Plugins/nuComponents/DataTypes/Shared/ListPicker/ListPickerPartial.html'" />

    </div>
</div>