<div class="nuPickers-config">

    <div>
        <label class="control-label" for="">
            Item Width
            <small>Width in px of each list item - 0 means default</small>
        </label>

        <div class="controls controls-row">
            <input type="number" 
                   ng-model="model.value.itemWidth"
                   ng-init="model.value.itemWidth = model.value.itemWidth || 0" />
        </div>
    </div>

    <div>
        <label class="control-label" for="">
            Item Height
            <small>Height in px of each list item - 0 means default</small>
        </label>

        <div class="controls controls-row">
            <input type="number" 
                   ng-model="model.value.itemHeight"
                   ng-init="model.value.itemHeight = model.value.itemHeight || 0" />
        </div>
    </div>

    <div>
        <label class="control-label" for="">
            Min Items
            <small>Number of items that must be selected</small>
        </label>

        <div class="controls controls-row">
            <input type="number"
                   ng-model="model.value.minItems"
                   ng-init="model.value.minItems = model.value.minItems || 0" />
        </div>
    </div>

    <div>
        <label class="control-label" for="">
            Max Items
            <small>Number of items that can be selected - 0 means no limit</small>
        </label>

        <div class="controls controls-row">
            <input type="number"
                   ng-model="model.value.maxItems"
                   ng-init="model.value.maxItems = model.value.maxItems || 0" />

        </div>
    </div>

    <div>
        <label class="control-label" for="">
            Allow Duplicates
            <small>When checked, duplicate items can be selected (disabled when 'Hide Used' is checked)</small>
        </label>

        <div class="controls controls-row">
            <input type="checkbox"
                   ng-disabled="model.value.hideUsed"
                   ng-checked="!model.value.hideUsed && model.value.allowDuplicates"
                   ng-model="model.value.allowDuplicates" />
        </div>
    </div>

    <div>
        <label class="control-label" for="">
            Hide Used
            <small>When checked, selected items are removed from the list of choices (disabled when 'Allow Duplicates' is checked)</small>
        </label>

        <div class="controls controls-row">
            <input type="checkbox"
                   ng-disabled="model.value.allowDuplicates"
                   ng-checked="!model.value.allowDuplicates && model.value.hideUsed"
                   ng-model="model.value.hideUsed" />
        </div>
    </div>

</div>