
.list-picker {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable-container {
    width: 100%;
}

.list-picker.split .selectable-container,
.list-picker.split .selected-container {
    width: 50%;
}

.flex {
    display: flex;
}

/* pull styling up from the .selectable ul in to this new wrapper*/
.paged-list-picker .selectable-container {
    display: block;
}

/* text-input-bar could be the filtering textbox or the typeahead textbox */

.list-picker .text-input-bar {
    border: 1px solid transparent;
    padding-bottom:1px;
}

.list-picker .text-input-bar input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:48%;
    margin: 0.25em;
    min-height:2em;
    line-height:2em;
}

.list-picker .text-input-bar input.no-match {
    color:red;
}

.list-picker .bars {
    list-style-type: none;
    margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.list-picker .bars li {
    background-color: white;
    display: block;
    margin-bottom: 3px;
    position: relative;
    border: 1px solid #ccc;
    min-height:2em;
    line-height: 1.2;
    padding: 0.3em 1.4em 0.3em 0.25em; /* Top Right Bottom Left, right is equal to .button width */
    width: 100%;
    margin: 0.25em;
    box-sizing: border-box;
    overflow: hidden;
}

.list-picker .lit { /* li */
    border:1px solid #9e9e9e;
}

.list-picker .disabled { /* li and .button */
    border-color: #35c786;
    opacity: 0.7;
    filter: alpha(opacity=70); /* msie */
}

.list-picker .used { /* li */
    background-color:#f6f6fa;
}

.list-picker .option-label {
    padding-left:4px; /* TODO: move to a child element to avoid conflict with 90% / 10% widths */
}

.list-picker .button {
    width: 1.4em; /* 21px */
    height: 100%;
    position: absolute;
    top: 0;
    /*font-size:20px;*/
    text-align:center;
}

.list-picker .button.disabled {
    cursor:default; /* disable the hand */
}

.list-picker .button:hover,
.list-picker .sort:hover
{
    background-color: #ddd;
}

.list-picker .button.disabled:hover {
    background-color:transparent;
}

.list-picker .placeholders li {
    border:1px dashed #ccc;
}

/*
    <ul class="bars selectable">
        <li class="(lit) (disabled) (used)">

            <div class="option-label">
                {{ custom markup }}
            </div>

            <a class="button (disabled)"></a>

        </li>
    </ul>
*/

.list-picker ul.bars {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.list-picker ul.selected {
    flex-direction: column;
}

.list-picker .selectable.fixed-height {
    overflow-y: scroll;
    border-color: #f0f0f0; /* show the border when using scrolling */
    background-color: #fdfdfd;
}

.list-picker .selectable .option-label {
    /* reset the direction */
    direction:ltr;
    float:left;
    text-align:left;
}

.list-picker .selectable .button {
    right: 0;
    border-left: 1px solid #ccc;
}

.list-picker .disabled .button {
    border-left:none; /* no icon, so remove the line indicating a button */
}

/*
    <div class="selected-container">
        <ul class="bars selected">
            <li class="(lit)">

                <a class="button"></a>

                <div class="option-label (sort)">
                    {{ custom markup }}
                </div>

            </li>
        </ul>

        <ul class="bars placeholders"
            <li/>
            <li class="indicator" />
        </ul>
    </div>
*/

.list-picker .selected  li:last-child {
    margin-bottom:0px; /* to ensure that the placeholder list beneath lines up */
}

.list-picker .selected .option-label {
    margin-left: 1.4em; /* make space for the button */
}

.list-picker .selected .sort {
    cursor: move;
}

.list-picker .selected .button {
    left: 0;
    border-right: 1px solid #ccc;
}

.list-picker .placeholders li {
    text-align: center;
    color: #ccc;
}

.list-picker .placeholders .required {
    border-style: dotted;
    border-color: #b94a48;
    color: #b94a48;
}

.list-picker .placeholders .select {
    border-style: dashed;
}

/*.list-picker .placeholders .limit-indicator {
    color:#343434;
    border-color:transparent;
}*/
