
ul.layout-direction
{
    list-style-type: none;
    margin: 0;
}

ul.layout-direction.horizontal li
{
    display:inline;
}

ul.layout-direction.horizontal li label {
    display: inline;
    margin-right: 10px;
}

ul.layout-direction.vertical li
{   
}