<div ng-controller="nuPickers.Shared.UmbracoTreeDataSource.UmbracoTreeDataSourceConfigController" class="nuPickers-config">

    <div>
        <label for="">

            Tree Alias
            <small>Alias of the Umbraco tree</small>

        </label>

        <div>

            <input type="text" ng-model="model.value.treeAlias" />

        </div>
    </div>

    <div>
        <label for="">

            Section Alias
            <small>IE content, developer, etc.  Required by the Umbraco TreePicker.</small>

        </label>

        <div>

            <input type="text" ng-model="model.value.sectionAlias" />

        </div>
    </div>

</div>