<div ng-controller="nuPickers.Shared.XmlDataSource.XmlDataSourceConfigController" class="nuPickers-config">

    <div>
        <label for="">

            XML Data
            <small>XML data to query</small>

        </label>

        <div>

            <select ng-model="model.value.xmlData"
                    ng-init="model.value.xmlData = model.value.xmlData || 'content'">
                <option value="content">Content</option>
                <option value="media">Media</option>
                <option value="members">Members</option>
                <option value="url">URL</option>
            </select>

        </div>
    </div>

    <!-- show / hide -->
    <div ng-hide="model.value.xmlData != 'url'">
        <label for="">

            URL
            <small>
                use ~/ prefix to indicate a relative url to the site root<br/>
                eg. ~/App_Data/Example.xml
            </small>

        </label>

        <div>

            <input type="text" ng-model="model.value.url" />

        </div>
    </div>

    <div>
        <label for="">
            XPath
            <small>all matched nodes are used to build data editor items</small>
        </label>

        <div>

            <input type="text"
                   class="wide"
                   ng-model="model.value.xPath"
                   ng-init="model.value.xPath = model.value.xPath || '//*[@isDoc]'" />

        </div>
    </div>

    <div ng-hide="isLabels">
        <label for="">
            Key XPath
            <small>XPath (from each matched node) to select a single value for use as the key (this must be unique)</small>
        </label>

        <div>

            <input type="text"
                   ng-model="model.value.keyXPath"
                   ng-init="model.value.keyXPath = model.value.keyXPath || '@id'" />

        </div>
    </div>


    <div ng-hide="model.value.labelMacro">
        <label for="">
            Label XPath
            <small>XPath (from each matched node) to select a single value for use as the label</small>
        </label>

        <div>

            <input type="text"
                   ng-model="model.value.labelXPath"
                   ng-init="model.value.labelXPath = model.value.labelXPath || '@nodeName'" />

        </div>
    </div>

</div>
