<div class="nuPickers-config">

    <div>
        <label class="control-label" for="">
            Check All
            <small>Renders a checkbox, when changed updates all other checkboxes to its state</small>
        </label>

        <div class="controls">
            <input type="checkbox" ng-model="model.value.checkAll" />
        </div>
    </div>

    <div>
        <label class="control-label" for="">
            Counter
            <small>Renders the number of items picked and the total</small>
        </label>

        <div class="controls">
            <input type="checkbox" ng-model="model.value.counter" />
        </div>
    </div>

</div>