
<div ng-controller="nuPickers.Shared.CheckBoxPicker.CheckBoxPickerEditorController">

    <div class="check-all"
         ng-hide="{{model.config.checkBoxPicker.checkAll != true}}">

        <input type="checkbox" ng-click="checkAllClick()" />
        <hr />

    </div>

    <ul class="layout-direction" ng-class="model.config.layoutDirection">
        <li ng-repeat="option in checkBoxPickerOptions">

            <label>
                <input type="checkbox" 
                       value="{{option.key}}" 
                       ng-model="option.isChecked" 
                       ng-change="checkBoxChange()" />
                <span ng-bind-html-unsafe="option.label"></span>
            </label>

        </li>
    </ul>
    
</div>